/* ------------------------------------------------------------ */
/*                           Rules                              */
/* ------------------------------------------------------------ */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --logo-black-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);

  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --tertiary-bg-color: #2f303a;
  --header-border-color: #ececec;
  --projects-border-color: #eeeeee;
  --hero-bg-color: #c4c4c4;

  --button-hover-color: #188ce8;

  --icon-color: #afb1b8;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ----------------------------logo-----------------------------*/
.header-logo-web,
.footer-logo-web,
.header-logo-studio,
.footer-logo-studio {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-logo-web,
.footer-logo-web {
  color: var(--accent-color);
}

.header-logo-studio {
  color: var(--logo-black-color);
}

.footer-logo-studio {
  display: inline-block;
  color: var(--white-color);
  margin-bottom: 20px;
}
/* ---------------------------header--------------------------- */
.header {
  border-bottom: 1px solid var(--header-border-color);
}
.header-box {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: 93px;
}

.header-menu {
  display: flex;
}

.header-menu .item + .item {
  margin-left: 50px;
}

.header-menu .link.current {
  color: var(--accent-color);
  position: relative;
}

.header-menu .link.current::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}

.header-menu .link {
  color: var(--primary-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts .item + .item {
  margin-left: 50px;
}

.header-contacts .link {
  color: var(--secondary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu .link,
.header-contacts .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-menu .link:hover,
.header-menu .link:focus,
.header-contacts .link:hover,
.header-contacts .link:focus,
.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-contacts .item .link {
  display: flex;
  align-items: center;
}

/* --------------------------footer---------------------------- */

.footer {
  background-color: var(--tertiary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-adress-box {
  width: 231px;
}

.footer-adress {
  font-style: normal;
  line-height: 1.71;
}

.footer-location {
  color: var(--white-color);
  margin-top: 0;
  margin-bottom: 9px;
}

.footer-mail {
  margin-bottom: 9px;
}

.footer-contacts .link {
  color: var(--footer-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-boxes {
  display: flex;
  align-items: baseline;
}

.footer-soc {
  margin-left: 70px;
}

.footer-join {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-subscription-form {
  display: flex;
  flex-direction: column;
}

.footer-subscription {
  margin-left: 93px;
}

.footer-subscription-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  display: block;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-subscription-block {
  display: flex;
}

.footer-subscription-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 0 15px 16px;
  width: 358px;
  color: var(--white-color);
  outline: none;
}

.footer-subscription-button {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 28px 10px 29px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin-left: 12px;
  cursor: pointer;
}

.footer-send-icon {
  margin-left: 10px;
}

/* .footer-subscription-button:hover,
.footer-subscription-button:focus {
  background-color: var(--button-hover-color);
} */
/* .footer-soc-list {
  display: flex;
  justify-content: center;
}

.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}
.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-icon {
  fill: var(--primary-bg-color);
} */

/*                         Modal                                */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;

  padding: 40px;

  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-bg-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-icon {
  fill: var(--logo-black-color);
}

.close-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .close-icon,
.modal-button:focus .close-icon {
  fill: var(--button-hover-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-text-color);

  margin-bottom: 12px;
}

.form-field-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  display: block;
  color: var(--secondary-text-color);
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.form-field-input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-input:focus {
  border-color: var(--accent-color);
}

.form-field-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-comment:focus {
  border-color: var(--accent-color);
}

.form-comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-field.last {
  margin-bottom: 20px;
}

.form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox-text {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox-terms {
  font-size: 14px;
  line-height: 1.72;
  color: var(--secondary-text-color);
}

.terms-link {
  color: var(--accent-color);
}

.form-checkbox {
  appearance: none;
}

.checkbox-icon {
  margin-right: 8px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
}

.form-checkbox:checked + .checkbox-text .checkbox-icon {
  background-color: var(--accent-color);
  border: none;
}

.form-checkbox:focus + .checkbox-text .checkbox-icon {
  border: 2px solid var(--accent-color);
}

.submit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;

  padding: 10px 55px 10px 56px;
  min-width: 200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-button:hover,
.submit-button:focus {
  background-color: var(--button-hover-color);
}

/* ------------------------------------------------------------ */
/*                       Index Main                             */
/* ------------------------------------------------------------ */
/*                   Index-Section1-Hero                        */
.index-hero {
  text-align: center;
  background-color: var(--hero-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.index-hero-title {
  width: 696px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.index-hero-button {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  display: inline-block;
}

.index-hero-button {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.index-hero-button:hover,
.index-hero-button:focus {
  background-color: var(--button-hover-color);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* ------------------------------------------------------------ */
/*                    Index-Section2-Features                   */
.index-features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-features-list .item {
  width: 270px;
}

.index-features-list .item + .item {
  margin-left: 30px;
}

.index-features-list .index-features-title {
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.index-features-list .index-features-text {
  color: var(--secondary-text-color);
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

.feature-icon {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  align-items: center;
  margin-bottom: 30px;
}

/* .index-features-list .item::before {
  display: block;
  content: '';
  height: 120px;
  background-color: var(--secondary-bg-color);
  background-repeat: no-repeat;
  background-position: center;
} */
/* .index-features-list .item:nth-child(1):before {
  background-image: url(../images/antenna.svg);
}
.index-features-list .item:nth-child(2):before {
  background-image: url(../images/clock.svg);
}
.index-features-list .item:nth-child(3):before {
  background-image: url(../images/diagram.svg);
}
.index-features-list .item:nth-child(4):before {
  background-image: url(../images/astronaut.svg);
} */
/* .index-features-list .antenna::before {
  background-image: url(../images/antenna.svg);
}
.index-features-list .clock::before {
  background-image: url(../images/clock.svg);
}

.index-features-list .diagramm::before {
  background-image: url(../images/diagram.svg);
}

.index-features-list .astronaut::before {
  background-image: url(../images/astronaut.svg);
} */
/* ------------------------------------------------------------ */
/*                      Index-Section3-Work                     */
.index-work {
  padding-top: 0;
}

.index-work-list {
  display: flex;
}

.index-work-list .item {
  width: calc((100% - 60px) / 3);
  position: relative;
}

.index-work-list .item + .item {
  margin-left: 30px;
}

.index-work-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.index-work-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}
/* ------------------------------------------------------------ */
/*                      Index-Section4-Team                     */
.index-team {
  background-color: var(--secondary-bg-color);
}
.index-team-list {
  display: flex;
}

.index-team-list .item {
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.index-team-list .item + .item {
  margin-left: 30px;
}

.index-team-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.index-team-crew {
  font-weight: 500;
  margin-bottom: 10px;
}

.index-team-position {
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.index-team-crew,
.index-team-position {
  font-size: 16px;
  line-height: 1.19;
}

.index-team-card {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-bg-color);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item + .social-item {
  margin-left: 10px;
}
.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-social-icon {
  fill: white;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.social-icon {
  fill: var(--icon-color);
}
.social-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--primary-bg-color);
}
/* ------------------------------------------------------------ */
/*                     Index-Section5-Clients                   */
.index-client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}
.client-link {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}

.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-item {
  width: 170px;
}
.client-link {
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item + .client-item {
  margin-left: 30px;
}

.client-icon {
  fill: var(--icon-color);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}

/* ------------------------------------------------------------ */
/*                      Portfolio-Main                          */
/* ------------------------------------------------------------ */
/*                     Portfolio-Filters                        */
.button-filters {
  cursor: pointer;
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  text-align: center;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filters:hover,
.button-filters:focus,
.current-filter {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-projects-filters-list {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio-projects-filters-list .item + .item {
  margin-left: 8px;
}

/* ------------------------------------------------------------ */
/*                   Portfolio-Projects                         */
.portfolio-projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-projects-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-projects-title {
  margin-bottom: 4px;
}
.portfolio-projects-list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-projects-list .item .link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-projects-list .item .link:hover,
.portfolio-projects-list .item .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-projects-list .item:hover .projects-cover-text,
.portfolio-projects-list .item:focus .projects-cover-text {
  transform: translateY(0);
}
.projects-part1 {
  position: relative;
  overflow: hidden;
}
.projects-part2 {
  border: 1px solid var(--projects-border-color);
  border-top: none;
  padding: 20px 24px;
}

.portfolio-projects-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-projects-list .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-projects-list .portfolio-projects-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-projects-list .portfolio-projects-type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* ------------------------------------------------------------ */
